<!--
    Spring Boot Security tutorial 

    https://github.com/egalli64/spring-security
 -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Spring Security Tutorial</title>
</head>
<body>
    <div>
        <h1 th:text="${message}">Welcome!</h1>

        <div>
            <em>Form-Based Login Authentication Enabled</em>
            <div sec:authorize="isAuthenticated()">
                <p>
                    Welcome, <span sec:authentication="name">unknown</span>! Your roles: <span
                        sec:authentication="principal.authorities">roles</span> <br>
                </p>
                <form th:action="@{/logout}" method="post">
                    <button type="submit">Logout</button>
                </form>
            </div>
            <div sec:authorize="!isAuthenticated()">
                <!-- You should never see this! A non-authenticated user should never get to this page! -->
                <p>Not logged in</p>
                <a href="/login">Login</a>
            </div>
        </div>

        <h2>Available Endpoints:</h2>

        <ul>
            <li><a href="/">/ (home)</a> <em>Should be accessible to everyone</em></li>
            <li><a href="/public">/public</a> <em>Should be accessible to everyone</em></li>
            <li><a href="/private">/private</a> <em>Should require authentication</em></li>
            <li><a href="/admin">/admin</a> <em>Should require admin role</em></li>
            <li sec:authorize="hasRole('ADMIN')"><a href="/users">/users</a> <em>User management (admin)</em></li>
        </ul>
    </div>
</body>
</html>