<!--
    Spring Boot Security tutorial 

    https://github.com/egalli64/spring-security
 -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Spring Security Tutorial</title>
</head>
<body>
    <div>
        <h1 th:text="${message}">Welcome!</h1>

        <div>
            <div th:if="${errorMessage}">
                <span th:text="${errorMessage}"></span>
            </div>
            <div sec:authorize="isAuthenticated()">
                <p>
                    Welcome, <span sec:authentication="name">unknown</span>! Your authorities: <span
                        sec:authentication="principal.authorities">authorities</span>
                </p>
                <form th:action="@{/logout}" method="post">
                    <button type="submit">Logout</button>
                </form>
            </div>
            <div sec:authorize="!isAuthenticated()">
                <a href="/login">Login</a>
            </div>
        </div>

        <h2>Available Endpoints:</h2>

        <ul>
            <li><a href="/">/ (home)</a> <em>Accessible to everyone</em></li>
            <li><a href="/public">/public</a> <em>Accessible to everyone</em></li>
            <li sec:authorize="hasRole('USER')"><a href="/private">/private</a> <em>For user role</em></li>
            <li sec:authorize="hasRole('ADMIN')"><a href="/admin">/admin</a> <em>For admin role</em></li>
            <li sec:authorize="hasRole('ADMIN') and hasAuthority('VIEW_REPORTS')"><a href="/admin/reports">/admin/reports</a>
                <em>admin + reports</em></li>
            <li><a href="/users">/users</a> <em>User management</em></li>
            <li sec:authorize="hasAuthority('VIEW_REPORTS')"><a href="/reports">/reports</a> <em>Specific
                    authority required</em></li>
        </ul>
    </div>
</body>
</html>